<!DOCTYPE html>
<html lang="en">
<head>
<title>Latest Torrent Movies</title>
<link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
<link rel="manifest" href="../assets/favicon/site.webmanifest">
<meta name="description" content="Yify API torrent experiment, for personal use only." />
<meta name="author" content="Julius Garcia" />
<meta name="og:type" content="Website" />
<meta name="og:site_name" content="Latest quality movies" />
<meta name="og:title" content="Latest Torrent listings" />
<meta name="og:description" content="Quality grade latest torrent listings" />
<meta name="og:url" content="http://cebushopping.com:25281/yify" />
<meta name="og:locale" content="en_US" />
<meta name="og:image" content="http://cebushopping.com:25281/assets/cs_movie_torrents.png" />
<meta name="og:image:width" content="600" />
<meta name="og:image:height" content="315" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-third img:hover{opacity: 1}
ol>li>strong{
    color: #000;
}
ol>li {
  text-align: left;
}
.w3-third > div {
  position: relative;
  text-align: center;
}
.w3-third > div > span {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 40px;
  color: #af0808;
  text-shadow: 2px 2px 3px #ffc107;
}
p#caption {
  font-size: 21px;
  letter-spacing: 0.08em;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loader {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.torrent-download {
  background-color: #fff;
  padding: 8px 10px;
  min-height: 90px;
  line-height: 1.6em;
  text-align: left;
}
.refresh-wrapper {
  float: left;
}
.refresh-wrapper img {
  width:60px; 
  cursor:pointer; 
  margin: auto;
}
@media (max-width: 768px) {
  .refresh-wrapper {
    width: 100%;
    display: flex;
    float: unset;  
  }
}
@media (min-width: 601px) {
  .w3-third {
      width: 100%;
  }
  .w3-third > div {
    width: 33%;
    display: table-cell;
  }
}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1060px">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-top w3-center" style="z-index:3;width:100%;font-weight:bold;display:none;" id="mySidebar"><br>
   <h3>Author Disclaimer:</h3>
   <p>Intended for author's personal use only.</p>
   <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">CLOSE</a>
   <ol style="padding-right:30px;">
    <li><strong>Information Accuracy:</strong>
        <ul>
            <li>The information provided in this website is for API testing purposes only. It is not intended for public use, please avoid any usage to the particular information. The author make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability of the information.</li>
        </ul>
    </li>
    <li><strong>Personal Responsibility:</strong>
        <ul>
            <li>Any reliance you place on the information in this website is strictly at your own risk. You are responsible for ensuring that any information or services available meet your specific requirements.</li>
        </ul>
    </li>
    <li><strong>Third-Party Links:</strong>
        <ul>
            <li>The author may provide links to third-party websites or resources generated from the API results. The author is not responsible for the content or availability of these external sites and do not endorse or guarantee the accuracy of the information they contain.</li>
        </ul>
    </li>
    <li><strong>Changes to Disclaimer:</strong>
        <ul>
            <li>The author reserve the right to update, change, or modify this disclaimer at any time without notice.</li>
        </ul>
    </li>
   </ol>

    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">CLOSE</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-white w3-xlarge w3-padding-16" style="max-width:1200px;position:relative;">
  <div class="refresh-wrapper"><img title="Refresh" alt="Refresh" onclick="refresh()" src="../assets/refresh.png"/></div>
  <span class="w3-left w3-padding">QUALITY GRADE - LATEST TORRENT MOVIES</span>
  <a href="javascript:void(0)" style="font-size:12px;" class="w3-right w3-button w3-white" onclick="w3_open()">Disclaimer</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main">
  <!-- Photo grid -->
  <div class="w3-row">
    <div class="w3-third">
  <% movies.forEach(function(movie, i){%>
      <div>
        <img src="https://img.yts.mx<%= movie.medium_cover_image %>" style="width:100%" onclick="onClick(this,'<%=movie.yt_trailer_code%>')" 
        alt="<%= movie.title_english %> <br> (<%= movie.year %>) <%= movie.language %> | <%= movie.rating %> rating <br><br><%= movie.summary || movie.synopsis || movie.description_full %>">
        <span><%= movie.rating %></span>
        <div class="torrent-download"><%= movie.title_english %> (<%= movie.language %>)<br>
          <%
          let last_quality = '';
          let count = 0;
          for (let i=0; i < movie.torrents.length; i++){
            let spacer = '';
            let torrent = movie.torrents[i];
            if (last_quality == torrent.quality) {
              continue;
            }
            count++;
            last_quality = torrent.quality;
            %>
            <%= torrent.quality %>( 
            <a href="https://yts.mx<%= torrent.url %>">Torrent</a>,  
            <a href="magnet:?xt=urn:btih:<%= torrent.hash %>&dn=<%= movie.title_english %>">Magnet</a>)
            <% if (i < (movie.torrents.length - 1) && movie.torrents[i+1].quality != last_quality) {
                spacer = count % 2 == 0? '\n' : ' | ';
              }
            %>
            <%= spacer %>
          <%
          } 
          %>
        </div>
      </div>
      <% if (i+1 == locals.perPage) { %>
      </div>
      <% } else if (i+1 == (locals.perPage/2)) { %>
      </div></div> <div class="w3-row"> <div class="w3-third">
      <% } else if ((i+1) % 3 == 0) { %>
      </div> <div class="w3-third">
      <% } %>      
  <%}) %>
  </div>
  <!-- End Photo Grid -->

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="closeModal(this)">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
      <div id="summary"></div>
      <div id="trailer"></div>
    </div>
  </div>

<!-- End page content -->
</div>
<div class="loader"><img src="/assets/loader.gif"></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element, ytcode) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
  var trailerVideo = document.getElementById("trailer");
  trailerVideo.innerHTML = '<div class="videowrapper"><iframe width="640" height="360" src="https://www.youtube.com/embed/'+ytcode+'" frameborder="0" allowfullscreen></iframe></div>';
}

// Modal Image Close
function closeModal(element) {
  $('iframe').each(function(index) {
    $(this).attr('src', $(this).attr('src'));
    return false;
  });
  element.style.display='none';
}

// Modal close on escape key
$(document).keyup(function(e){
  if(e.key === "Escape") {
    closeModal($('#modal01')[0]);
  }
});

// Bottom Scroll Listener
var isActive = false;
$(window).scroll(function() {
   if( ($(window).scrollTop() + $(window).height() > $(document).height() - 200) && !isActive ) {
    isActive = true;
    $.get( "/yify/loadmore", function( data ) {
      $('.w3-main').append(data);
      isActive = false;
    });
   }
});

// Refresh page
function refresh() {
  location.reload(true);
}

$(window).on('popstate', function(event) {
 alert("pop");
});

</script>


</body>
</html>
